/*/////////////////////////////////////////////////////////////////////////////

File Name: auctionhub.css
Creator: Johnathan Estes
Purpose: Creates the style sheet for the auctionhub.php page.

/////////////////////////////////////////////////////////////////////////////*/

/*Creates the Header Tab for the Page*/
.header {
    padding: 5px;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
}

/*Creates a left column.*/
.leftcol {
    float: left;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Creates a right column.*/
.rightcol {
    float: left;
    width: 60%;
    margin-top: 10px;
    margin-left: 75px;
}

/*Creates a background for a page section.*/
.section {
    background: rgba(255, 255, 255, 0.75);
    margin-top: 100px;
    padding: 10px;
    width: 100%;
}

/*Creates a placeholder image background and border.*/
.placeholder {
    background: #aaaaaa;
    padding: 15px;
    height: 400px;
    width: 100%;
    margin-top: 50px;
}

/*Fixes an issue with creating breaks after the section border.*/
.section:after {
    content: "";
    display: table;
    clear: both;
}

/*Adjust the properties for images on the page.*/
img {
    width: 100%;
    height: 100%;
}

/*Adds the background color for the page.*/
body {
    background-color: #82AEB1;
}

/*Stylizes the buttons for the webpage.*/
button {
    color: #444444;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: center;
    width: 100%;
    height: 70px;
    font-size: 18px;
    margin-top: 20px;
}

/*Creates a hover effect when the user is over the button.*/
button:hover {
    background-color: #aaaaaa;
}

/*Adjusts the h1 tag properties*/
h1 {
    font-size: 40px;
}

/*Adjusts the p tag properties*/
p {
    font-size: 16px;
    line-height: 25px
}

a:link {
    color: #111111;
    text-decoration: none;
}

a:hover {
    color: #999999;
}

/*Adds property to adjust webpage items as the screensize changes.*/
@media screen and (max-width: 1700px) {
    .leftcol,
    .rightcol,
    .section,
    input[type=submit],
    .placeholder,
    img {
        width: 75%;
        height: auto;
        margin-top: 0;
    }
}
