.header {
  padding: 5px;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
}

.section {
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  margin-top: 25px;
  padding: 30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #82AEB1;
}

.form {
  font-size: 20px;
  font-weight: bold;
}

.labelcol {
  float: left;
  width: 20%;
  margin-top: 15px;
}

.inputcol {
  float: left;
  width: 60%;
  margin-top: 15px;
}

input[type=text], select, textarea {
width: 100%;
padding: 16px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;

}

input[type=text]:hover {
  border-color: #111111;
}

input[type=submit]{
  color: #444444;
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  float: center;
  width: 16%;
  height: 70px;
  font-size: 18px;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #aaaaaa;
}

@media screen and (max-width: 600px) {
  .labelcol, .inputcol, input[type=submit], {
    width: 100%;
    margin-top: 0;
  }
}
