.header {
  padding: 5px;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
}

.section {
  background: rgba(255, 255, 255, 0.75);
  margin-top: 25px;
  margin-left: 25px;
  padding: 10px;
  width: 80%;
}

.placeholder {
  background: #aaaaaa;
  padding: 20px;
  height: 100px;
}

.section:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #82AEB1;
}
