/*/////////////////////////////////////////////////////////////////////////////

File Name: index.css
Creator: Johnathan Estes
Purpose: Style sheet in conjuction with index.php.

/////////////////////////////////////////////////////////////////////////////*/
/*Adds the background color for the page*/
body {

  background-image: url(/images/computer.jpg);
  background-repeat: no-repeat;
  background-position: 0 75px;
  width: auto ;
  height: auto;
  background-color: #39393a;
}

.desktopbreak {
  margin-bottom: 500px;
}

/*Adjust the h1 properties.*/
h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 3vw;
  font-family: "Montserrat"; /* Imported from Google Fonts*/
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
}

/*Adjust the properites of the CodeMan Logo.*/
.logoimg {
  margin: auto;
  display: block;
  position: relative;
  top: 100px;
  width: 900px;
  height: auto;
}

/* Styles Section Head Fonts.*/
.sectionhead {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Ubuntu"; /* Imported from Google Fonts*/
}

/* Left aligns content section.*/
.sectionleft {
  float: left;
  background: #ebe7e7;
  width: 50%;
  height: auto;
  margin-top: 0px;
  padding: 20px;
  border-radius: 4px;
}

/* Right aligns content section.*/
.sectionright {
  float: right;
  background: #ebe7e7;
  width: 50%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 15px;
  padding: 20px;
  border-radius: 4px;
}

/* Formats content text descriptions.*/
.textdesc {
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  font-family: "Montserrat"; /* Imported from Google Fonts*/
}

/* Formats button style and positioning.*/
button{
  color: #ffeeff;
  background-color: #934141;
  padding: 10px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 300px;
  height: 70px;
  margin-top: 15px;
  margin-right: 50px;
  font-size: 24px;
  transition: .5s;
}

/* Displays hover effect for buttons.*/
button:hover {
  background-color: #734141;
}

/*Responsive Web Design for Mobile Devices.*/
  @media screen and (max-width: 900px) {

    /* Adjusts background positioning.*/
    body {
      background: url("/images/computer.jpg");
      background-repeat: no-repeat;
      background-position: top; /* Center the image */
      width: auto;
      height: 500px;
      background-color: #39393a;
    }

    .desktopbreak {
      margin-bottom: 50px;
    }

    /*Adjust the Logo when Screen width is less than 1000 pixels.*/
    .logoimg {
      margin: auto;
      display: block;
      position: relative;
      top: 100px;
      margin-bottom: 70px;
      width: 100%;
      height: auto;
    }

    /*Adjust h1 properies when the screen is less than 900 pixels.*/
    h1 {
      margin-top: 150px;
      text-align: center;
      font-size: 3.7vw;
      font-family: "Montserrat"; /* Imported from Google Fonts*/
      font-weight: bold;
      color: #ffffff;
      -webkit-text-stroke: 0px;
    }

    .sectionleft {
      width: auto;
      height: auto;
      margin: 0 auto;
      padding: 20px;
      border-radius: 4px;
    }

    .sectionright {
      width: auto;
      height: auto;
      margin: 50px auto;
      padding: 20px;
      border-radius: 4px;
    }

    /*Adjust section head for mobile devices.*/
    .sectionhead {
      display: block;
      text-align: center;
      margin-bottom: 25px;
    }

    /*Adjust descriptions for mobile devices.*/
    .textdesc {
      text-align: left;
      margin: 10px auto;
      padding: 5px;
      font-size: 18px;
      line-height: 30px;
    }

  /*Adjust button for mobile devices.*/
  button {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto
    bottom: 0;
    width: 100%;
    height: auto;
  }
}
