
  .section {
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    margin-top: 35px;
    padding: 20px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
  }

  .section:after {
    content: "";
    display: table;
    clear: both;
  }
  .animated {
   background-image: url(/css/images/logo.png);
   background-repeat: no-repeat;
   background-position: left top;
   -webkit-animation-duration: 4s;
   animation-duration: 4s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

.left {
  float: left;
}

.right {
  float: right;
}

  .leftcol {
    float: left;
    width: 50%;
    margin-top: 15px;
  }

  .rightcol {
    float: left;
    width: 50%;
    margin-top: 15px;
  }

  .header {
    padding: 5px;
    font-size: 60px;
    margin-top: 50px;
    margin-right: 0;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
   }

   .maintext {
     padding: 5px;
     font-size: 30px;
     margin-top: 25px;
     margin-right: 0;
     text-align: left;
     font-weight: bold;
     color: #ffffff;
   }

   .image {
     width: 50%;
     height: auto;
     margin-top: 100px;
     margin-left: 100px;
   }

   .row:after {
     content: "";
     display: table;
     clear: both;
   }


   button{
     color: #eeeeee;
     background-color: #468189;
     padding: 10px 10px;
     border: none;
     border-radius: 3px;
     cursor: pointer;
     width: 300px;
     height: 70px;
     margin-top: 15px;
     margin-right: 50px;
     font-size: 24px;
   }

   button:hover {
     background-color: #666666;
   }


  body {
    background-color: #82AEB1;
  }


  @media screen and (max-width: 800px) {
    .section{
      width: 70%;
      height: auto;
    }
  }

  @media screen and (max-width: 900px) {
    button, input,[type=submit]{
      width: 90%;
      height: auto;
      font-size:20px;
    }
  }

  @media screen and (max-width: 1200px) {
    .header{
      font-size: 40px;
      height: auto;
    }
  }

  @media screen and (max-width: 1000px) {
    .maintext{
      font-size: 20px;
      height: auto;
    }
  }

  @media screen and (max-width: 1325px) {
    .placeholder, img{
      width: 100%;
      height: auto;
    }
  }
