
.navheader {
  position: fixed;
  background-color: #668586;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hambox {
  visibility: hidden;
  font-size: 28px;
  margin-left: 25px;
  margin-top: 25px;
  line-height: 75px;
  color: #eeeeee;
  cursor: pointer;
}

.navbar {
  background-color: #668586;
  width: 100%;
  height: 75px;
}

.ulitem {
  float: right;
  margin-right: 0px;
  padding: 0;
  margin: 0;
}

.navbar .ulitem .liitem {
  display: inline-block;
  line-height: 75px;
  margin: 0 20px;
}

.navbar .ulitem .liitem a{

  color: #eeeeee;
  font-size: 18px;
  font-family: "Ubuntu";
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 4px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.ulitem .liitem a:hover {
  color: #161d1d;
  background-color: #d3dede;
  transition: .4s;
}

img {
  margin-top: 15px;
}

#cbox {
  display: none;
}

@media (max-width: 1015px) {

.hambox {
  float: left;
  display: block;
  visibility: visible;
}
   .ulitem {
    position: absolute;
    overflow: hidden;
    width: 30%;
    height: 0;
    top: 75px;
    background: #4b6162;
    text-align: center;
    transition: all .5s linear;
    padding: 0;
    margin: 0;
  }

.navbar {
  float: right;
  position: relative;
  z-index: 1;

}

  .navbar .ulitem .liitem {
    display: block;
    position: relative;

  }

  .navbar .ulitem .liitem a{
    color: #eeeeee;
    font-size: 24px;
    font-weight: bold;
  }

  .ulitem .liitem a:hover {
    color: #161d1d;
    background: none;
    transition: .4s;
  }

#cbox:checked ~ .ulitem {
  height: 41vh;

}

#cbox:checked ~ .ulitem .liitem{
  opacity: 1;

}

}
